<% content_for :styles do %>
  .container-signUp {
      margin-top: unset;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%;
  }

    .img-details {
        color: darkred;
        padding: 2.5rem;
        background: linear-gradient(90deg, #050000 46%, #240129 100%);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .img-details img {
        width: 40px;
    }

    .details {
        font-size: 1.7rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .actions {
      margin-top: 2rem;
    }

    .input {
      padding: 1rem 4rem;
      border: 4px solid darkred;
    }
<% end %>
<div class = 'container-signUp'>
  <div class = 'img-details'>
      <%= link_to root_path, class: "btn btn-primary" do %>
      <img src="https://cdn-icons-png.flaticon.com/128/11997/11997228.png">
      <% end %>
      <div class='details'>
          <div> Register </div>
      </div>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <br />
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "input" %>
  </div>


  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: "input" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, placeholder: "Password", class: "input" %>
  </div>

  <div class="field">
    <br />
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>
